.titulo{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav{
    font-size: 35px;
    margin: 0;
    color: white;
    margin-right: 30px;
    margin-left: 30px;
}

.grande{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
}

.chico{
    margin: 0;
    font-size: 25px;
}

.mensaje{
    margin: 0;
    margin-top: 30px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    


}

.botones{
    text-align: center
}

.numero{
    text-align: center;
    font-size: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.inputs{
    text-align: center
}

.vector{
    text-align: center;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    word-wrap: break-word;
}

.card-wrapped{
    display: flex;
}

.card{
    margin: 0 .5em;
    width: (100%/3);
}